html, body {
  padding: 0;
  height: 100%;
  margin: 0;
  background-color: #146B3A;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.poststamp{
    position: absolute;
    padding-left: 420px;
    height: 70px;
    width: 70px;
    padding-top: 5px;
}

.main-image{
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.flip-card {
    background-color: white;
    width: 500px;
    height: 500px;
    perspective: 1000px;
    padding: 3%;
    box-shadow: rgb(0, 0, 0) 2px 2px 10px;
    border-radius: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    border-radius: 10px;
    font-family: 'Smooch', cursive;
  }

  .text1 {
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
    font-size: 50px;
  }

  .text2 {
    margin-left: 10%;
    font-size: 40px;
  }

  .text3 {
    margin-top: 10%;
    margin-left: 60%;
    font-size: x-large;
  }

  .text4 {
    margin-left: 10%;
    font-size: x-large;
  }