.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 500px;
    width: 500px;
    /*margin-top: 10rem;
    margin-left: 10rem;
    margin-bottom: 10rem;
    margin-right: 10rem;*/
    background-color: rgb(131, 71, 143);

}